<ion-view view-title="Bus location">
    <ion-content class="map-location" id="maplocation">
        <div id="map"> </div>
        <div class="arriving">
        
            <h2>BUS ARRIVING</h2>
            <div class="timetable">
                <div class="row">
                    <div class="col"> M474 </div>
                    <div class="col"> 2 mins </div>
                    <div class="col"> San Francisco </div>
                </div>
                <div class="row">
                    <div class="col"> M474 </div>
                    <div class="col"> 2 mins </div>
                    <div class="col"> San Francisco </div>
                </div>
                <div class="row">
                    <div class="col"> M474 </div>
                    <div class="col"> 2 mins </div>
                    <div class="col"> San Francisco </div>
                </div>
            </div>

        
        </div>
    </ion-content>
</ion-view>
