<ion-view view-title="{{'Engine and Milage' | translate}}" cache-view="false">
    <ion-content>
        <ion-refresher
            pulling-text="{{'Pull to refresh...' | translate}}"
            on-refresh="ctrl.doRefresh()">
        </ion-refresher>
        <div class="busoverview">
            <div class="odometer">
                <div class="refresh-time">
                    {{ctrl.refresh_time | amDateFormat:'YYYY-MM-DD hh:mm:ss'}}
                </div>
                <div class="milage-remain">
                    <h2>{{ctrl.data.MileageData.remain}} KM</h2>
                    <span translate>Available</span>
                </div>
            </div>
            
            <div class="milage-total">
                {{ctrl.data.MileageData.total | number}} KM <translate>Total Mileage</translate>
            </div>
            <div class="location row">
                <div class="col" translate>
                    Vehicle location (GPS)
                </div>
                <div class="col">
                    {{ctrl.data.BusData.latitude}}&deg; N, {{ctrl.data.BusData.longitude}}&deg; E
                </div>
            </div>
            
            <div class="batterys row">
                <div class="col">
                    <div class="battery right">
                        <h2>{{ctrl.data.GasData.remain}}%</h2>
                        <div class="shape" id="h2">
                            <div class="cell bg-green-1"> </div>
                            <div class="cell bg-green-1"> </div>
                            <div class="cell bg-green-2"> </div>
                            <div class="cell bg-green-2"> </div>
                            <div class="cell bg-green-2"> </div>
                            <div class="cell bg-orange-1"> </div>
                            <div class="cell bg-orange-1"> </div>
                            <div class="cell bg-orange-1"> </div>
                            <div class="cell bg-red-1"> </div>
                            <div class="cell bg-red-1"> </div>
                            
                        </div>
                        <div class="pedestal">
                        </div>
                    </div>
                    
                    <h1 translate>Hydrogen</h1>
                    <div class="data-tb">
                        <div class="row">
                            <div class="col" translate> Voltage </div>
                            <div class="col"> {{ctrl.data.FuelCellData.voltage}}V </div>
                        </div>
                        <div class="row">
                            <div class="col" translate> Current </div>
                            <div class="col"> {{ctrl.data.FuelCellData.current}}A </div>
                        </div>
                        <div class="row">
                            <div class="col" translate> Temp. </div>
                            <div class="col"> {{ctrl.data.FuelCellData.temp}} &#8451; </div>
                        </div>                        
                    </div>
                    <div class="footer">
                    </div>
                </div>
                <div class="col">
                    <div class="battery left">
                        <h2>{{ctrl.data.PowerBatteryData.remain}}%</h2>
                        <div class="shape" id="bat">
                            <div class="cell"> </div>
                            <div class="cell"> </div>
                            <div class="cell bg-green-2"> </div>
                            <div class="cell bg-green-2"> </div>
                            <div class="cell bg-green-2"> </div>
                            <div class="cell bg-orange-1"> </div>
                            <div class="cell bg-orange-1"> </div>
                            <div class="cell bg-orange-1"> </div>
                            <div class="cell bg-red-1"> </div>
                            <div class="cell bg-red-1"> </div>
                        </div>
                        <div class="pedestal">
                        </div>
                    </div>
                    
                    <h1 translate>Battery</h1>
                    <div class="data-tb">
                        <div class="row">
                            <div class="col" translate> Voltage </div>
                            <div class="col"> {{ctrl.data.PowerBatteryData.voltage}}V </div>
                        </div>
                        <div class="row">
                            <div class="col" translate> Current </div>
                            <div class="col"> {{ctrl.data.PowerBatteryData.current}}A </div>
                        </div>
                        <div class="row">
                            <div class="col" translate> Temp. </div>
                            <div class="col"> {{ctrl.data.PowerBatteryData.temp}} &#8451; </div>
                        </div>                        
                    </div>
                    <div class="footer">
                    </div>
                </div>
            </div>

            <!-- Engine -->
            <div class="engine">
                <h1>Engine</h1>
                <div class="row">
                    <div class="col">
                        <div class="data-tb d2">
                            <div class="row">
                                <div class="col" translate> Speed </div>
                                <div class="col"> {{ctrl.data.BusData.speed}} KM/H </div>
                            </div>
                            <div class="row">
                                <div class="col"> <translate>Torque</translate> <br /> (x1000) </div>
                                <div class="col"> {{ctrl.data.MotorData.speed}} RPM </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <img src="img/engine.png" class="engine-pic" alt="" />
                    </div>
                    <div class="col">
                        <div class="data-tb">
                            <div class="row">
                                <div class="col" translate> Voltage </div>
                                <div class="col"> {{ctrl.data.MotorData.voltage}}V </div>
                            </div>
                            <div class="row">
                                <div class="col" translate> Current </div>
                                <div class="col"> {{ctrl.data.MotorData.current}}A </div>
                            </div>
                            <div class="row">
                                <div class="col" translate> Temp. </div>
                                <div class="col"> {{ctrl.data.MotorData.temp}} &#8451; </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Others -->
            <div class="data-tb grey">
                <div class="row">
                    <div class="col" translate> Total energy saving </div>
                    <div class="col"> {{ctrl.data.EnergySavingData.energy_saving_amount}} KWH </div>
                </div>
                <div class="row">
                    <div class="col" translate> Total money saving </div>
                    <div class="col"> {{ctrl.data.EnergySavingData.energy_saving_money}} RMB </div>
                </div>
                <div class="row">
                    <div class="col" translate> Total emission reduction </div>
                    <div class="col"> {{ctrl.data.EnergySavingData.emission_reduction}} </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
