<ion-view view-title="{{'Engine and Milage' | translate}}">
    <ion-content>
        <ion-refresher
            pulling-text="{{'Pull to refresh...' | translate}}"
            on-refresh="ctrl.doRefresh()">
        </ion-refresher>
        <div class="busoverview">
            
            <div class="odometer">
                <div class="refresh-time">
                    20/12/2015 22:00
                </div>
                <div class="milage-remain">
                    <h2>211 KM</h2>
                    <span translate>Available</span>
                </div>
            </div>
            
            <div class="milage-total">
                143,200 KM <translate>Total Mileage</translate>
            </div>
            <div class="location row">
                <div class="col" translate>
                    Vehicle location (GPS)
                </div>
                <div class="col">
                    31.2000&deg; N, 121.5000&deg; E
                </div>
            </div>
            
            <div class="batterys row">
                <div class="col">
                    <div class="battery right">
                        <h2>100%</h2>
                        <div class="shape">
                            <div class="cell bg-green-1"> </div>
                            <div class="cell bg-green-1"> </div>
                            <div class="cell bg-green-2"> </div>
                            <div class="cell bg-green-2"> </div>
                            <div class="cell bg-green-2"> </div>
                            <div class="cell bg-orange-1"> </div>
                            <div class="cell bg-orange-1"> </div>
                            <div class="cell bg-orange-1"> </div>
                            <div class="cell bg-red-1"> </div>
                            <div class="cell bg-red-1"> </div>
                            
                        </div>
                        <div class="pedestal">
                        </div>
                    </div>
                    
                    <h1 translate>Hydrogen</h1>
                    <div class="data-tb">
                        <div class="row">
                            <div class="col" translate> Voltage </div>
                            <div class="col"> 12V </div>
                        </div>
                        <div class="row">
                            <div class="col" translate> Current </div>
                            <div class="col"> 10A </div>
                        </div>
                        <div class="row">
                            <div class="col" translate> Temp. </div>
                            <div class="col"> 32 &#8451; </div>
                        </div>                        
                    </div>
                    <div class="footer">
                    </div>
                </div>
                <div class="col">
                    <div class="battery left">
                        <h2>80%</h2>
                        <div class="shape">
                            <div class="cell"> </div>
                            <div class="cell"> </div>
                            <div class="cell bg-green-2"> </div>
                            <div class="cell bg-green-2"> </div>
                            <div class="cell bg-green-2"> </div>
                            <div class="cell bg-orange-1"> </div>
                            <div class="cell bg-orange-1"> </div>
                            <div class="cell bg-orange-1"> </div>
                            <div class="cell bg-red-1"> </div>
                            <div class="cell bg-red-1"> </div>
                        </div>
                        <div class="pedestal">
                        </div>
                    </div>
                    
                    <h1 translate>Battery</h1>
                    <div class="data-tb">
                        <div class="row">
                            <div class="col" translate> Voltage </div>
                            <div class="col"> 12V </div>
                        </div>
                        <div class="row">
                            <div class="col" translate> Current </div>
                            <div class="col"> 10A </div>
                        </div>
                        <div class="row">
                            <div class="col" translate> Temp. </div>
                            <div class="col"> 32 &#8451; </div>
                        </div>                        
                    </div>
                    <div class="footer">
                    </div>
                </div>
            </div>

            <!-- Engine -->
            <div class="engine">
                <h1>Engine</h1>
                <div class="row">
                    <div class="col">
                        <div class="data-tb d2">
                            <div class="row">
                                <div class="col" translate> Speed </div>
                                <div class="col"> 120 KM/H </div>
                            </div>
                            <div class="row">
                                <div class="col"> <translate>Torque</translate> <br /> (x1000) </div>
                                <div class="col"> 1,200 RPM </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <img src="img/engine.png" class="engine-pic" alt="" />
                    </div>
                    <div class="col">
                        <div class="data-tb">
                            <div class="row">
                                <div class="col" translate> Voltage </div>
                                <div class="col"> 12V </div>
                            </div>
                            <div class="row">
                                <div class="col" translate> Current </div>
                                <div class="col"> 10A </div>
                            </div>
                            <div class="row">
                                <div class="col" translate> Temp. </div>
                                <div class="col"> 32 &#8451; </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Others -->
            <div class="data-tb grey">
                <div class="row">
                    <div class="col" translate> Total overvoltage / undervoltage </div>
                    <div class="col"> 1 </div>
                </div>
                <div class="row">
                    <div class="col" translate> Mother Line Current </div>
                    <div class="col"> 12A </div>
                </div>
                <div class="row">
                    <div class="col" translate> Bus Voltage </div>
                    <div class="col"> 120V </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
