<ion-view view-title="{{'Bus Location' | translate}}" cache-view="false">
    <ion-content scroll="false" class="map-location" id="maplocation"> <!-- ion-content -->
        <div id="map"> </div>
        <div class="arriving">
        
            <h2 translate>BUS ARRIVING</h2>
            <div class="timetable">
                <div class="row">
                    <div class="col"> M474 </div>
                    <div class="col"> 2 <span translate>mins</span> </div>
                    <div class="col" translate> Next Bus </div>
                </div>
                <div class="row">
                    <div class="col"> M474 </div>
                    <div class="col"> 5 <span translate>mins</span> </div>
                    <div class="col" translate> Last 2 </div>
                </div>
                <div class="row">
                    <div class="col"> M474 </div>
                    <div class="col"> 9 <span translate>mins</span> </div>
                    <div class="col" translate> Last 3 </div>
                </div>
            </div>

        
        </div>
    </ion-content>
</ion-view>
