
<ion-view view-title="{{'Clean enviroment'|translate}}">

    <ion-tabs class="tabs-top mytab">
        <ion-tab title="{{'This month'|translate}}" href="#/app/health/1" on-select="onTabSelect(1)"> 
            <ion-view>
                <div ng-include src="'templates/health/detail.html'"></div>
            </ion-view>
        </ion-tab>
        <ion-tab title="{{'3 Months'|translate}}" href="#/app/health/2" on-select="onTabSelect(2)">
            <ion-view>
                <div ng-include src="'templates/health/detail.html'"></div>
            </ion-view>
        </ion-tab>

        <ion-tab title="{{'6 Months'|translate}}" href="#/app/health/3" on-select="onTabSelect(3)">
            <ion-view>
                <div ng-include src="'templates/health/detail.html'"></div>
            </ion-view>
        </ion-tab>
        
        <ion-tab title="{{'Period'|translate}}" href="#/app/health/4" on-select="onTabSelect(4)"> 
            <ion-view>
                <div ng-include src="'templates/health/detail.html'"></div>
            </ion-view>
        </ion-tab>

    </ion-tabs>

</ion-view>

