<ion-view view-title="{{'Home'|translate}}">
    <ion-content class="home">
        <div class="my-slide" >
            <ks-swiper-container id="swiper-container" initial-slide="0" loop="false" show-nav-buttons="false" slides-per-view="3" space-between="14" pagination-clickable="true" on-ready="onReadySwiper(swiper)" override-parameters="{'preventClicks':'false','preventClicksPropagation':'false','slideToClickedSlide':'true'}" >

                <ks-swiper-slide class="swiper-slide" href="#/app/home/video/1" data-state="app.home.video" data-param='{"type":"1"}' >
                    <div class="my-slide-content" >
                        <img src="img/slide-preview/thumb-video.jpg" alt="video" />
                        <div> Example Videos </div>
                    </div>
                </ks-swiper-slide>

                <ks-swiper-slide class="swiper-slide" href="#/app/home/energy" data-state="app.home.energy">
                    <div class="my-slide-content">
                        <img src="img/slide-preview/thumb-energy.jpg" alt="energy" />
                        <div>
                            Real Time Energy Diagram
                        </div>
                    </div>
                </ks-swiper-slide>

                <ks-swiper-slide class="swiper-slide" href="#/app/home/video/2" data-state="app.home.video" data-param='{"type":"2"}'>
                    <div class="my-slide-content">
                        <img src="img/slide-preview/thumb-video.jpg" alt="video" />
                        <div> Example Videos </div>
                    </div>
                </ks-swiper-slide>
                
                <ks-swiper-slide class="swiper-slide" href="#/app/home/tree" data-state="app.home.tree">
                    <div class="my-slide-content">
                        <img src="img/slide-preview/thumb-trees-2.jpg" alt="tree" />
                        <div>Trees saved</div>
                    </div>
                </ks-swiper-slide>
                
            </ks-swiper-container>
        </div>
        
        <div class="slide-detail">
            <div ui-view>slide detail</div>
        </div>
    </ion-content>
</ion-view>
