
<ion-view view-title="{{'Rewards' | translate}}">
    <ion-content class="rewards">
        <div class="instruction">
            <i class="icon ion-information-circled"></i>
            <p translate>By using the Hydrogen Bus as your transportation. You build up reward point. These can provide you with discount ticket prices or other reward.</p>
            <h2 translate>Thank you for riding with us!</h2>
        </div>
        <ion-list class="goal">
            <ion-item class="item item-icon-left item-icon-right">
                <div>
                    <i class="icon ion-ios-lightbulb-outline c-yellow-1"></i>
                    <h2>100 <translate>Rides on a Hydrogen bus</translate></h2>
                    <div class="line">
                        <progress max="100" value="100"> </progress>
                        <p>100% <translate>completed</translate></p>
                    </div>
                    <i class="icon ion-chevron-right"></i>
                </div>
                <div class="discount">5% <translate> discount on all your tickets </translate> </div>
            </ion-item>
            <ion-item class="item item-icon-left item-icon-right">
                <div>
                    <i class="icon ion-ios-lightbulb-outline"></i>
                    <h2 >200 <translate>Rides on a Hydrogen bus</translate></h2>
                    <div class="line">
                        <progress max="200" value="180"> </progress>
                        <p>180 / 200</p>
                    </div>
                    <i class="icon ion-chevron-right"></i>
                </div>
                <div class="discount">8% <translate>discount on all your tickets</translate> </div>
            </ion-item>
            <ion-item class="item item-icon-left item-icon-right">
                <div>
                    <i class="icon ion-ios-lightbulb-outline"></i>
                    <h2 >1,000 <translate>kilometers on a Hydrogen bus</translate></h2>
                    <div class="line">
                        <progress max="100" value="10"> </progress>
                        <p>200 / 1000</p>
                    </div>
                    <i class="icon ion-chevron-right"></i>
                </div>
                <div class="discount" translate>1,000 points &amp; gifts </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
