<ion-view view-title="Setting" cache-view="false">
    <ion-content class="setting">
        <h1> <translate> Your Profile </translate>
        <a class="button icon-left ion-locked button-clear" ng-click="ctrl.logoff()" translate> Logoff </a> 
        <a class="button icon-left ion-edit button-clear" href="#/app/createprofile/{{ctrl.user.id}}" translate> Edit </a> 
        </h1>
        
        <div class="profile">
            <div class="row">
                <div class="col">
                    <h3 translate>Nickname</h3>
                    <p>{{ctrl.profile.nickname}}</p>
                    <h3 translate>Mobile No.</h3>
                    <p>{{ctrl.profile.phone}}</p>
                    <h3>Date of Birth</h3>
                    <p>{{ctrl.profile.birthday}}</p>
                </div>
                <div class="col">
                    <div class="avatar-wrapper">
                    <img ng-src="{{ctrl.profile.avatar || 'img/default_avatar.png'}}" alt="" />
                    </div>
                </div>
            </div>
        </div>
        <div class="social list" ng-hide="ctrl.isdriver">
            <div class="item">
                <i class="fa fa-qq fa-lg"></i> {{ctrl.profile.qq}}
            </div>
            <div class="item item-icon-left">
                <i class="fa fa-weixin fa-lg"></i> {{ctrl.profile.wechat}}
            </div>
            <div class="item item-icon-left">
                <i class="fa fa-weibo fa-lg"></i> {{ctrl.profile.weibo}}
            </div>
        </div>
        <div class="shift" ng-show="ctrl.isdriver">
            <div class="row">
                <div class="col">
                    <h3>M474</h3>
                    <p translate>Current Bus</p>
                </div>
                <div class="col">
                    <h3>12:00 - 14:00</h3>
                    <p translate>Break Time</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3 translate>DAY SHIFT</h3>
                    <p translate>Current Shift</p>
                </div>
                <div class="col">
                    <h3>423211KM</h3>
                    <p translate>Total Driving Distance</p>
                </div>
            </div>
        </div>
        <div class="drive-hours" ng-show="ctrl.isdriver">
            <div class="total-hours">
                <h3>420 <translate>Hours</translate></h3> 
                <p translate>Total Driving Hours</p>
            </div>
        </div>

        <div class="refresh-setting">
            <h1 translate>Data Refresh Rate</h1>
            <div class="refresh-rate">
                <div class="item item-select select-wrapper">
                    <!-- 
                    <select  >
                        <option value="0" translate>Manual</option>
                        <option value="30" translate>30 seconds</option>
                        <option value="60" translate>60 seconds</option>
                        <option value="90" translate>90 seconds</option>
                    </select>
                    -->
                    <select ng-model="ctrl.refresh_rate"
                            ng-options="o.value as o.label for o in ctrl.refresh_options"
                            ng-change="ctrl.update_refresh_rate()">
                    </select>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
