<ion-view view-title="Test">
    
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-android-more-vertical" ng-click="popover.show($event)">
        </button>
    </ion-nav-buttons>
    
    <ion-content>
        <h1>Test</h1>
        <!-- <video src="img/1.mp4" controls="controls"> video is not supported. </video> -->

        <div class="list">
            <button class="button button-light button-block item" ng-click="get_users()"> get users </button>
            <a class="item" href="#/app/signup">sign up</a>
            <a class="item" href="#/app/createprofile">update profile</a>
            <div class="item-input-inset">
                <label class="item item-input-wrapper">
                    <input type="text" name="phone" ng-model="phone" placeholder="phone" />
                </label>
                <button class="button button-small button-positive" ng-disabled="wating_sms" ng-click="send_sms(phone)"> send </button>
            </div>
        </div>
        
        
        

        <ion-list>
            <ion-item ng-repeat="user in users">
                Hello, {{user.username}}!
            </ion-item>
        </ion-list>


        
    </ion-content>
    
</ion-view>
