

@import "www/lib/sass-css3-mixins/css3-mixins.scss";
@import "_form_validation.scss";
// @import "_ionic_colors.scss";

/* varibles */
// ========================================

$calm: #127BB6 !default;
$menu-font-color: $calm;
$menu-title-bgcolor: darken($menu-font-color, 10%);


/* override */
// ========================================

/* menu */
.bar.menu-title {
    background: $menu-title-bgcolor;
    border-bottom: 1px solid $menu-title-bgcolor;
    
    .title {
        color: #ccc;
    }
}

.menu.menu-left .list .item {
    color: $menu-font-color;

    .icon {
        font-size: 22px;

        &.ion-chevron-right {
            font-size: 14px;
            color: #555;
        }
    }
    
    &.item-complex .item-content {
        padding: 10px 49px 10px 46px;
        font-size: 14px;
    }
    &.item-group-header {
        padding: 20px 49px 4px 12px;
        color: #555;
    }
    
}


/* common */
// ========================================

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}


/* height */

$ion-item-height: 54px;

.h-item-2 {
    height: 2 * $ion-item-height;
}

