

@import "www/lib/sass-css3-mixins/css3-mixins.scss";
@import "www/lib/sass-mq/_mq.scss";
@import "_form_validation.scss";
@import "_my_mixin.scss";
// @import "_ionic_colors.scss";


/* varibles */
// ========================================

$calm: #127BB6 !default;
$menu-font-color: $calm;
$menu-title-bgcolor: darken($menu-font-color, 10%);


/* mq setting */
// ========================================

$mq-breakpoints: (
    mobile:  320px,
    mobileExtra: 400px,
    tablet:  740px,
    desktop: 980px,
    wide:    1300px,
    // Tweakpoints
    desktopAd: 810px,
    mobileLandscape: 480px
);
$mq-show-breakpoints: (mobile, mobileExtra, mobileLandscape, tablet, desktop, wide);
/* @include mq-show-breakpoints;   */



/* override */
// ========================================

/* menu */
.bar.menu-title {
    background: $menu-title-bgcolor;
    border-bottom: 1px solid $menu-title-bgcolor;
    
    .title {
        color: #ccc;
    }
}

.menu.menu-left .list .item {
    color: $menu-font-color;

    .icon {
        font-size: 22px;

        &.ion-chevron-right {
            font-size: 14px;
            color: #555;
        }
    }
    
    &.item-complex .item-content {
        padding: 10px 49px 10px 46px;
        font-size: 14px;
    }
    &.item-group-header {
        padding: 20px 49px 4px 12px;
        color: #555;
    }
    
}



/* Color */

$green-1: #009900;
$green-2: #339933;
$green-3: #34cd34;
$orange-1: #ff9900;
$red-1: #cc0000;
$yellow-1: #ffd63d;

.c-green-1 {
    color: $green-1;
}
.bg-green-1 {
    background: $green-1 !important;
}
.c-green-2 {
    color: $green-2;
}
.bg-green-2 {
    background: $green-2 !important;
}
.c-orange-1 {
    color: $orange-1;
}
.bg-orange-1 {
    background: $orange-1 !important;
}
.c-red-1 {
    color: $red-1;
}
.bg-red-1 {
    background: $red-1 !important;
}
.c-yellow-1 {
    color: $yellow-1;
}
.bg-yellow-1 {
    background: $yellow-1 !important;
}

/* buttons */
.button-orange {
    @include background-gradient(#E67E2D, #DF5126);
    color: #fff;
    border: none;
}
.button-gray {
    @include background-gradient(#CCC, #999);
    color: #fff;
    border: none;
}



/* height */

$ion-item-height: 54px;

.h-item-2 {
    height: 2 * $ion-item-height;
}


/* Engine & Milage */
// ========================================

.busoverview {
    font-size: 13px;
    color: #333;

    .odometer {
        @include background-gradient(#9AD6FF, #E9F6FF);
        height: 104px;
        overflow: hidden;

        .refresh-time {
            float: right;
            margin-top: 10px;
            margin-right: 10px;
        }

        .milage-remain {
            @include circle(200px);
            margin: 18px auto 0;
            background: rgba(255, 255, 255, .5);
            text-align: center;
            padding-top: 36px;
            
            h2 {
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 0;
            }
        }
    }

    .milage-total, .location {
        height: 40px;
        line-height: 40px;
        border-bottom: 2px solid #ccc;
        text-align: center;
        
    }
    .milage-total {
        background: #eee;
    }
    .location {
        border-top: 1px solid #eee;
        background: #f5f5f5;
        
        &.row {
            padding: 0;
            .col {
                padding: 0;
                &:nth-child(2) {
                    background: #fafafa;
                }
            }
        }
    }

    .batterys.row {
        padding: 14px 0 0;

        > .col {
            @include background-gradient(#99d6ff, #f3faff);
            border-bottom: 2px solid #eaf0f5;
            position: relative;
            padding: 0;

            &:first-child {
                @include border-radius-separate(13px,0,0,0);
                margin-right: 6px;
            }
            &:last-child {
                @include border-radius-separate(0,13px,0,0);
            }

            /* title */
            h1 {
                font-size: 14px;
                font-weight: bold;
                text-align: center;
                margin: 12px 0 19px;
                
                height: 19px;
                line-height: 19px;
            }

            .footer {
                height: 33px;
                border-bottom: 1px solid #eee;
                @include background-gradient(#dcdfe1, #f5f5f5);
            }
        }

        .data-tb {
            margin: 0 14px 9px;

            .col {
                height: 37px;
                line-height: 37px;
            }
        }

        $battery-width: 87px;   /* 87px */
        .battery {
            position: absolute;
            top: 29px;
            width: $battery-width;
            
            &.right {
                right: 4px;
            }
            &.left {
                left: 4px;
            }

            h2 {
                font-size: 13px;
                text-align: center;
                margin-bottom: 5px;
            }

            .shape {
                position: relative;
                z-index: 2;
                margin: 0 11px;
                padding: 4px;
                @include background-gradient(#fff, #ccc);

                border-top: 1px solid #ccc;
                border-bottom: 1px solid #666;
                
                /* border-width: 2px; */
                /* border-style: solid; */
                /* @include border-gradient(#ccc, #666); */

                
                
                .cell {
                    /* width: 52px; */
                    height: 10px;
                    background: #eee;
                    margin-bottom: 3px;
                }
            }

            /* gradient border */
            .shape:before, .shape:after {
                content: "";
                position: absolute;
                @include background-gradient(#ccc, #666);
                top: -1px;
                bottom: -1px;
                width: 2px;
            }
            .shape:before {
                left: -2px;
            }
            .shape:after {
                right: -2px;
            }
            
            .pedestal {
                height: 26px;
                background: #fff;
                @include border-radius(10px);
                @include background-gradient(#b3b6b7, #f2f2f2);

                position: relative;
                z-index: 1;
                margin-top: -13px;
            }
        }

        .battery.left ~ .data-tb {
            margin-left: $battery-width;
        }
        .battery.right ~ .data-tb {
            margin-right: $battery-width;
        }
    }

    .data-tb {
        font-size: 13px;
        
        .row {
            margin: 0 0 3px;
            padding: 0;
            /* margin-bottom: 3px; */
            text-align: center;

            .col {
                padding: 0;

                &:first-child {
                    background: rgba(255,255,255,.5);
                }
                &:last-child {
                    background: rgba(255,255,255,.7);
                }
            }
        }
    }

    .engine {
        @include background-gradient(#99d6ff, #f3faff);
        @include border-radius-separate(13px,13px,0,0);
        border-bottom: 2px solid #eaf0f5;
        margin: 9px 0 0;
        /* padding-bottom: 13px; */
        overflow: hidden;

        h1 {
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            margin: 18px 0 9px;
        }

        .row {
            padding: 0;

            .col {
                padding: 0;
            }
        }

        > .row {
            padding-left: 14px;
            padding-right: 14px;
            margin-bottom: 13px;
        }

        .engine-pic {
            display: block;
            margin: 8px auto;
        }

        .data-tb {
            .col {
                height: 36px;
                line-height: 36px;
            }
        }

        .data-tb.d2 {
            .col {
                padding-top: 18px;
                height: 55px;
                line-height: 15px;
            }
        }
    }

    .data-tb.grey {
        background: #eee;
        /* margin-top: -5px; */
        .row {
            padding: 0px;

            + .row {
                margin-top: 0;
            }
            
            .col {
                height: 46px;
                line-height: 46px;
                
                &:first-child {
                    background: #f5f5f5;
                }
                &:last-child {
                    background: #FAFAFA;
                }
            }
        }
    }
}


/* Payment */
// ----------------------------------------

.payment, .payment-confirm {
    font-size: 13px;
    background: #f2f2f2;

    .ico-title {
        label {
            float: left;
        }
        
        h2 {
            margin: 0 0 0 40px;
            font-size: 13px;
            font-weight: bold;
            height: 24px;
            line-height: 24px;
        }
    }    
}

.payment {

    img.wechat-pay {
        /* width: 99px; */ /* height: 99px; */
        width: 70px; height: 70px;
    }

    img.alipay {
        /* width: 190px; */ /* height: 99px; */
        width: 133px; height: 70px;
    }

    .beacon-section {
        @include background-gradient(#f7f7f7, #e3e3e3);

        h1 {
            font-size: 18px;
            font-weight: bold;
            margin: 35px 0 0 30px;
        }

        .beacon-container {
            position: relative;
            width: 107px;
            height: 78px;
            background: rgba(255,255,255,.7);
            @include border-radius(5px);
            margin: 10px 0px 10px 21px;
            font-size: 12px;
            overflow: hidden;
            text-align: center;

            img {
                width: 45px;
                height: 47px;
                display: block;
                margin: 7px auto 2px;
            }
        }

        .ico-title {
            margin: 18px 0 4px 9px;
        }

        .item-select {
            margin-left: 10px;
            display: inline-block;
            width: 180px;
        }
    }

    .payment-method {

        .ico-title {
            margin-left: 14px;
            margin-top: 37px;
            margin-bottom: 18px;
        }

        .pay-container {
            @include background-gradient(#fff, #f0f0f0);
            position: relative;
            overflow: hidden;

            img {
                display: block;
                margin: 21px auto;
            }
        }
        .desc {
            background: #fff;
            height: 28px;
            line-height: 28px;
            text-align: center;
        }

        a {
            text-decoration: none;
            color: #000;
        }
    }
}

.payment-confirm {
    .ico-title {
        margin: 19px 0 19px 15px;
    }
    .pay-method {
        @include background-gradient(#fff, #f0f0f0);
        img {
            height: 52px;
            margin: 6px 0 6px 10px;
        }
    }
    .bill {
        background: #fff;
        padding: 0 21px;
        overflow: hidden;
        
        h2 {
            font-size: 13px;
            font-weight: bold;
            margin: 33px 0 9px
        }
        ul.purchase li, .total {
            height: 28px;
            line-height: 28px;

            span {
                margin-left: 2px;
            }
            
            span:last-child {
                float: right;
                margin-right: 2px;
            }
        }
        .purchase {
            border-bottom: 1px solid #000;
        }
        .total {
            margin: 2px 0 20px;
            font-weight: bold;
        }
        
    }
    .btns {
        padding: 40px 39px 0;
        
    }
}

.tickets {
    .item {
        .icon {
            font-size: 22px;

            &:first-child {
                color: $green-3;
            }
        }
    }
}

.messages-center {
    background: #eee;
    padding: 7px;
    font-size: 13px;
    
    .msg-item {
        background: #fff;
        margin-bottom: 7px;
        padding: 16px 16px 23px 40px;
        position: relative;
        
        i.icon {
            position: absolute;
            margin-left: -26px;
        }
        
        img {
            width: 100%;
            margin: 7px 0 7px;
        }

        h2 {
            margin-bottom: 5px;
        }

        div {
            white-space: normal;
            margin: 15px 0;
        }

        a {
            color: $calm;
        }
    }
}

.rewards {
    background: #eee;
    font-size: 14px;
    
    .instruction {
        background: #cfe3f1;
        margin-bottom: 8px;
        padding: 14px 31px 15px 57px;

        i.icon {
            position: absolute;
            margin-left: -45px;
            margin-top: 5px;
            font-size: 28px;
            color: #fff;
        }

        h2 {
            font-size: 14px;
            font-weight: bold;
        }
    }

    .goal {
        .icon {
            font-size: 20px;
            /* color: #fff; */
        }
        progress {
            width: 170px;
            margin: 0 10px 0 0;
            height: 15px;
            float: left;
            
            -webkit-appearance: none;
	        border: none;
        }
        progress::-webkit-progress-bar {
            background: #999;
        }
        progress::-webkit-progress-value {
            background: #009900;
        }
        
        .line {
            position: relative;
            overflow: hidden;
            margin-top: 10px;
            
            progress, p {
                display: inline-block;
                font-size: 12px;
            }
            p {
                height: 15px;
                line-height: 15px;
            }
        }
    }
}

.map-location {
    #map {
        width: 100%;
        height: 400px;
    }

    .arriving {
        position: fixed;
        bottom: 80px;
        left: 0;
        height: 100px;
        width: 100%;
    }

    h2 {
        background: #fcfcfc;
        font-size: 14px;
        font-weight: bold;
        border-top: 1px solid #f5fbf3;
        height: 42px;
        line-height: 42px;
        padding: 0 10px;
        margin: 0;
    }
    
    .timetable {
        background: #f3f3f3;
        .row {
            border-bottom: 1px solid #eee;
            height: 37px;
            line-height: 27px;
            
            .col:first-child {
                text-align: right;
            }
            .col:nth-child(2) {
                background: #eee;
                text-align: center;
            }
            .col:last-child {
                text-align: left;
            }
        }
    }
}

.energyflow {
}

.ef-dashboard {
    position: relative;
    /* background: #000; */
    
    $width-bg: 1080px;
    $height-main: 648px;
    $height-head: 104px;
    $height-footer: 78px;
    
    $width-footer-left: 199px;
    $height-footer-left: 115px;

    $width-gear: 137px;
    $height-gear: 360px;

    $width-battery-e: 105px/2;
    $height-battery-e: 196px/2;
    $left-battery-e: 210px;
    $top-battery-e: -49px;

    $width-battery-h: 105px/2;
    $height-battery-h: 196px/2;
    $left-battery-h: 100px;
    $top-battery-h: -49px;

    $width-arrow: 9px;
    $height-arrow: 11px;
    
    $left-arrow-h0: 125px;
    $top-arrow-h0: 50px;
    $left-arrow-h1: 125px;
    $top-arrow-h1: 95px;        /* rotateZ(90deg)*/
    $left-arrow-h2: 0px;
    $top-arrow-h2: 110px;

    $left-arrow-e0: 232px;
    $top-arrow-e0: 50px;
    $left-arrow-e1: 232px;
    $top-arrow-e1: 87px;
    $left-arrow-e2: 0px;
    $top-arrow-e2: 110px;

    .bg {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        
        .head {
            width: 100%;
            height: $height-head;
            background: url("../img/engineflow/menu-bar-top.png") repeat-x center center;
        }
        .main {
            width: 100%;
            height: $height-main;
            background: #000;
        }
        .footer {
            width: 100%;
            height: $height-footer;
            background: url("../img/engineflow/menu-bar-bottom.png") repeat-x center center;
        }
    }

    // normal, 1080
    .main {
        background: url("../img/engineflow/background.jpg") no-repeat center center;
        width: 100%;
        height: $height-main;
        position: relative;
    }
    .head {
        background: url("../img/engineflow/menu-bar-top.png") no-repeat center center;
        width: 100%;
        height: $height-head;
    }
    .footer {
        background: url("../img/engineflow/menu-bar-bottom.png") no-repeat center center;
        width: 100%;
        height: $height-footer;
        position: relative;
    }
    .footer-left {
        background: url("../img/engineflow/menu-bar-bottom-left.png") no-repeat center left;
        width: $width-footer-left;
        height: $height-footer-left;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: - $width-bg/2;
    }
    .gear {
        background: url("../img/engineflow/gear-D.png") no-repeat center right;
        width: $width-gear;
        height: $height-gear;
        position: absolute;
        top: 50%;
        right: 50%;
        margin-top: - $height-gear/2;
        margin-right: - $width-bg/2;
    }
    .battery-e {
        background: url("../img/engineflow/battery-e-20.png") no-repeat center center;
        background-size: cover;
        width: $width-battery-e;
        height: $height-battery-e;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: $top-battery-e;
        margin-left: $left-battery-e;
    }
    .battery-h {
        background: url("../img/engineflow/battery-h-90.png") no-repeat center center;
        background-size: cover;
        width: $width-battery-h;
        height: $height-battery-h;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: $left-battery-h;
        margin-top: $top-battery-h;
    }
    .flow-h, .flow-h2, .flow-e, .flow-e2 {
        background: url("../img/engineflow/arrow.png") no-repeat center center;
        position: absolute;
        width: $width-arrow;
        height: $height-arrow;
        top: 50%;
        left: 50%;
        
    }
    .flow-h, .flow-h2 {
        margin-left: $left-arrow-h0;
        margin-top: $top-arrow-h0;
        @include animation(flow-h 2s infinite);
    }
    .flow-e, .flow-e2 {
        margin-left: $left-arrow-e0;
        margin-top: $top-arrow-e0;
        @include animation(flow-e 2s infinite);
    }
    .flow-h2, .flow-e2 {
        @include css3-prefix('animation-delay', .2s);
    }
    
    // animation
    @include keyframes(flow-h) {
        0% { margin-left: $left-arrow-h0; margin-top: $top-arrow-h0; }
        33% {margin-left: $left-arrow-h1; margin-top: $top-arrow-h1; transform: rotateZ(0);}
        35% {transform: rotateZ(90deg);}
        100% {margin-left: $left-arrow-h2; margin-top: $top-arrow-h2; transform: rotateZ(90deg);}
    }

    @include keyframes(flow-e) {
        0% {margin-left: $left-arrow-e0; margin-top: $top-arrow-e0;}
        33% {margin-left: $left-arrow-e1; margin-top: $top-arrow-e1; transform: rotateZ(0);}
        35% {transform: rotateZ(90deg);}
        100% {margin-left: $left-arrow-e2; margin-top: $top-arrow-e2; transform: rotateZ(90deg);}
    }


    @mixin scale($factor) {
        .main {
            background-size: $width-bg*$factor $height-main*$factor;
            height: $height-main*$factor;
        }
        .head {
            background-size: $width-bg*$factor $height-head*$factor;
            height: $height-head*$factor;
        }
        .footer {
            background-size: $width-bg*$factor $height-footer*$factor;
            height: $height-footer*$factor;
        }
        .footer-left {
            background-size: $width-footer-left*$factor $height-footer-left*$factor;
            height: $height-footer-left*$factor;
            margin-left: - $width-bg*$factor / 2;
        }
        .gear {
            background-size: $width-gear*$factor $height-gear*$factor;
            height: $height-gear*$factor;
            margin-top: - $height-gear*$factor/2;
            margin-right: - $width-bg*$factor/2;
        }
        .battery-e {
            width: $width-battery-e*$factor;
            height: $height-battery-e*$factor;
            margin-top: $top-battery-e*$factor;
            margin-left: $left-battery-e*$factor;
        }
        .battery-h {
            width: $width-battery-h*$factor;
            height: $height-battery-h*$factor;
            margin-top: $top-battery-h*$factor;
            margin-left: $left-battery-h*$factor;
        }

        .bg {
            .head {
                height: $height-head*$factor;
            }
            .main {
                height: $height-main*$factor;
            }
            .footer {
                height: $height-footer*$factor;
            }
        }

        .flow-h, .flow-h2, .flow-e, .flow-e2 {
            width: $width-arrow*$factor;
            height: $height-arrow*$factor;
        }

            // scale 0.6
        @include keyframes(flow-h_#{str-slice(to-string($factor),3)}) {
            0% { margin-left: $left-arrow-h0*$factor; margin-top: $top-arrow-h0*$factor; }
            33% {margin-left: $left-arrow-h1*$factor; margin-top: $top-arrow-h1*$factor; transform: rotateZ(0);}
            35% {transform: rotateZ(90deg);}
            100% {margin-left: $left-arrow-h2*$factor; margin-top: $top-arrow-h2*$factor; transform: rotateZ(90deg);}
        }

        @include keyframes(flow-e_#{str-slice(to-string($factor),3)}) {
            0% {margin-left: $left-arrow-e0*$factor; margin-top: $top-arrow-e0*$factor;}
            33% {margin-left: $left-arrow-e1*$factor; margin-top: $top-arrow-e1*$factor; transform: rotateZ(0);}
            35% {transform: rotateZ(90deg);}
            100% {margin-left: $left-arrow-e2*$factor; margin-top: $top-arrow-e2*$factor; transform: rotateZ(90deg);}
        }
        .flow-h, .flow-h2 {
            margin-left: $left-arrow-h0*$factor;
            margin-top: $top-arrow-h0*$factor;
            @include animation(flow-h_#{str-slice(to-string($factor),3)} 2s infinite);
        }
        .flow-e, .flow-e2 {
            margin-left: $left-arrow-e0*$factor;
            margin-top: $top-arrow-e0*$factor;
            @include animation(flow-e_#{str-slice(to-string($factor),3)} 2s infinite);
        }
        .flow-h2, .flow-e2 {
            @include css3-prefix('animation-delay', .2s);
        }
    }

    // narrow phone (<400), iphone4,5,6
    @include mq($until:mobileExtra) {
        @include scale(0.5)
    }

    // bigger phone (>400), iphone 6+
    @include mq(mobileExtra, tablet) {
        @include scale(0.6)
    }

    



}





/* common */
// ========================================

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}


.round-ico {
    $round-ico-width: 24px;
    
    @include circle($round-ico-width);
    @extend .bg-green-1;
    display: inline-block;
    height: $round-ico-width;
    line-height: $round-ico-width;
    color: #fff;
    font-size: 12px;
    padding-left: 8px;
}
