/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/* form validation */
.error-container {
  margin: 5px 0; }

.error-container:last-child {
  margin: 5px 0 0; }

.error {
  padding: 10px 16px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  color: #555;
  vertical-align: middle; }

.error i {
  font-size: 24px;
  color: #B83E2C;
  vertical-align: middle; }

.last-error-container > .error {
  padding: 10px 16px 0; }

.has-errors {
  border-bottom: 3px solid #B83E2C; }

.no-errors {
  border-bottom: 3px solid green; }

/* varibles */
/* override */
/* menu */
.bar.menu-title {
  background: #0d5c88;
  border-bottom: 1px solid #0d5c88; }
  .bar.menu-title .title {
    color: #ccc; }

.menu.menu-left .list .item {
  color: #127BB6; }
  .menu.menu-left .list .item .icon {
    font-size: 22px; }
    .menu.menu-left .list .item .icon.ion-chevron-right {
      font-size: 14px;
      color: #555; }
  .menu.menu-left .list .item.item-complex .item-content {
    padding: 10px 49px 10px 46px;
    font-size: 14px; }
  .menu.menu-left .list .item.item-group-header {
    padding: 20px 49px 4px 12px;
    color: #555; }

/* Color */
.c-green-1 {
  color: #009900; }

.bg-green-1, .round-ico {
  background: #009900 !important; }

.c-green-2 {
  color: #339933; }

.bg-green-2 {
  background: #339933 !important; }

.c-orange-1 {
  color: #ff9900; }

.bg-orange-1 {
  background: #ff9900 !important; }

.c-red-1 {
  color: #cc0000; }

.bg-red-1 {
  background: #cc0000 !important; }

/* buttons */
.button-orange {
  background-color: #E67E2D;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#E67E2D), to(#DF5126));
  background-image: -webkit-linear-gradient(top, #E67E2D, #DF5126);
  background-image: -moz-linear-gradient(top, #E67E2D, #DF5126);
  background-image: -ms-linear-gradient(top, #E67E2D, #DF5126);
  background-image: -o-linear-gradient(top, #E67E2D, #DF5126);
  background-image: linear-gradient(top, #E67E2D, #DF5126);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#E67E2D', endColorStr='#DF5126');
  color: #fff;
  border: none; }

.button-gray {
  background-color: #CCC;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#CCC), to(#999));
  background-image: -webkit-linear-gradient(top, #CCC, #999);
  background-image: -moz-linear-gradient(top, #CCC, #999);
  background-image: -ms-linear-gradient(top, #CCC, #999);
  background-image: -o-linear-gradient(top, #CCC, #999);
  background-image: linear-gradient(top, #CCC, #999);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#CCC', endColorStr='#999');
  color: #fff;
  border: none; }

/* height */
.h-item-2 {
  height: 108px; }

/* Engine & Milage */
.busoverview {
  font-size: 13px;
  color: #333; }
  .busoverview .odometer {
    background-color: #9AD6FF;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#9AD6FF), to(#E9F6FF));
    background-image: -webkit-linear-gradient(top, #9AD6FF, #E9F6FF);
    background-image: -moz-linear-gradient(top, #9AD6FF, #E9F6FF);
    background-image: -ms-linear-gradient(top, #9AD6FF, #E9F6FF);
    background-image: -o-linear-gradient(top, #9AD6FF, #E9F6FF);
    background-image: linear-gradient(top, #9AD6FF, #E9F6FF);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#9AD6FF', endColorStr='#E9F6FF');
    height: 104px;
    overflow: hidden; }
    .busoverview .odometer .refresh-time {
      float: right;
      margin-top: 10px;
      margin-right: 10px; }
    .busoverview .odometer .milage-remain {
      width: 200px;
      height: 200px;
      -webkit-border-radius: 200px;
      -khtml-border-radius: 200px;
      -moz-border-radius: 200px;
      -ms-border-radius: 200px;
      -o-border-radius: 200px;
      border-radius: 200px;
      margin: 18px auto 0;
      background: rgba(255, 255, 255, 0.5);
      text-align: center;
      padding-top: 36px; }
      .busoverview .odometer .milage-remain h2 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 0; }
  .busoverview .milage-total, .busoverview .location {
    height: 40px;
    line-height: 40px;
    border-bottom: 2px solid #ccc;
    text-align: center; }
  .busoverview .milage-total {
    background: #eee; }
  .busoverview .location {
    border-top: 1px solid #eee;
    background: #f5f5f5; }
    .busoverview .location.row {
      padding: 0; }
      .busoverview .location.row .col {
        padding: 0; }
        .busoverview .location.row .col:nth-child(2) {
          background: #fafafa; }
  .busoverview .batterys.row {
    padding: 14px 0 0;
    /* 87px */ }
    .busoverview .batterys.row > .col {
      background-color: #99d6ff;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#99d6ff), to(#f3faff));
      background-image: -webkit-linear-gradient(top, #99d6ff, #f3faff);
      background-image: -moz-linear-gradient(top, #99d6ff, #f3faff);
      background-image: -ms-linear-gradient(top, #99d6ff, #f3faff);
      background-image: -o-linear-gradient(top, #99d6ff, #f3faff);
      background-image: linear-gradient(top, #99d6ff, #f3faff);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#99d6ff', endColorStr='#f3faff');
      border-bottom: 2px solid #eaf0f5;
      position: relative;
      padding: 0;
      /* title */ }
      .busoverview .batterys.row > .col:first-child {
        -webkit-border-top-left-radius: 13px;
        -webkit-border-top-right-radius: 0;
        -webkit-border-bottom-right-radius: 0;
        -webkit-border-bottom-left-radius: 0;
        -moz-border-radius-topleft: 13px;
        -moz-border-radius-topright: 0;
        -moz-border-radius-bottomright: 0;
        -moz-border-radius-bottomleft: 0;
        border-top-left-radius: 13px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        margin-right: 6px; }
      .busoverview .batterys.row > .col:last-child {
        -webkit-border-top-left-radius: 0;
        -webkit-border-top-right-radius: 13px;
        -webkit-border-bottom-right-radius: 0;
        -webkit-border-bottom-left-radius: 0;
        -moz-border-radius-topleft: 0;
        -moz-border-radius-topright: 13px;
        -moz-border-radius-bottomright: 0;
        -moz-border-radius-bottomleft: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 13px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0; }
      .busoverview .batterys.row > .col h1 {
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        margin: 12px 0 19px;
        height: 19px;
        line-height: 19px; }
      .busoverview .batterys.row > .col .footer {
        height: 33px;
        border-bottom: 1px solid #eee;
        background-color: #dcdfe1;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#dcdfe1), to(#f5f5f5));
        background-image: -webkit-linear-gradient(top, #dcdfe1, #f5f5f5);
        background-image: -moz-linear-gradient(top, #dcdfe1, #f5f5f5);
        background-image: -ms-linear-gradient(top, #dcdfe1, #f5f5f5);
        background-image: -o-linear-gradient(top, #dcdfe1, #f5f5f5);
        background-image: linear-gradient(top, #dcdfe1, #f5f5f5);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#dcdfe1', endColorStr='#f5f5f5'); }
    .busoverview .batterys.row .data-tb {
      margin: 0 14px 9px; }
      .busoverview .batterys.row .data-tb .col {
        height: 37px;
        line-height: 37px; }
    .busoverview .batterys.row .battery {
      position: absolute;
      top: 29px;
      width: 87px;
      /* gradient border */ }
      .busoverview .batterys.row .battery.right {
        right: 4px; }
      .busoverview .batterys.row .battery.left {
        left: 4px; }
      .busoverview .batterys.row .battery h2 {
        font-size: 13px;
        text-align: center;
        margin-bottom: 5px; }
      .busoverview .batterys.row .battery .shape {
        position: relative;
        z-index: 2;
        margin: 0 11px;
        padding: 4px;
        background-color: #fff;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
        background-image: -webkit-linear-gradient(top, #fff, #ccc);
        background-image: -moz-linear-gradient(top, #fff, #ccc);
        background-image: -ms-linear-gradient(top, #fff, #ccc);
        background-image: -o-linear-gradient(top, #fff, #ccc);
        background-image: linear-gradient(top, #fff, #ccc);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fff', endColorStr='#ccc');
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #666;
        /* border-width: 2px; */
        /* border-style: solid; */
        /* @include border-gradient(#ccc, #666); */ }
        .busoverview .batterys.row .battery .shape .cell {
          /* width: 52px; */
          height: 10px;
          background: #eee;
          margin-bottom: 3px; }
      .busoverview .batterys.row .battery .shape:before, .busoverview .batterys.row .battery .shape:after {
        content: "";
        position: absolute;
        background-color: #ccc;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#666));
        background-image: -webkit-linear-gradient(top, #ccc, #666);
        background-image: -moz-linear-gradient(top, #ccc, #666);
        background-image: -ms-linear-gradient(top, #ccc, #666);
        background-image: -o-linear-gradient(top, #ccc, #666);
        background-image: linear-gradient(top, #ccc, #666);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ccc', endColorStr='#666');
        top: -1px;
        bottom: -1px;
        width: 2px; }
      .busoverview .batterys.row .battery .shape:before {
        left: -2px; }
      .busoverview .batterys.row .battery .shape:after {
        right: -2px; }
      .busoverview .batterys.row .battery .pedestal {
        height: 26px;
        background: #fff;
        -webkit-border-radius: 10px;
        -khtml-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        border-radius: 10px;
        background-color: #b3b6b7;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#b3b6b7), to(#f2f2f2));
        background-image: -webkit-linear-gradient(top, #b3b6b7, #f2f2f2);
        background-image: -moz-linear-gradient(top, #b3b6b7, #f2f2f2);
        background-image: -ms-linear-gradient(top, #b3b6b7, #f2f2f2);
        background-image: -o-linear-gradient(top, #b3b6b7, #f2f2f2);
        background-image: linear-gradient(top, #b3b6b7, #f2f2f2);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#b3b6b7', endColorStr='#f2f2f2');
        position: relative;
        z-index: 1;
        margin-top: -13px; }
    .busoverview .batterys.row .battery.left ~ .data-tb {
      margin-left: 87px; }
    .busoverview .batterys.row .battery.right ~ .data-tb {
      margin-right: 87px; }
  .busoverview .data-tb {
    font-size: 13px; }
    .busoverview .data-tb .row {
      margin: 0 0 3px;
      padding: 0;
      /* margin-bottom: 3px; */
      text-align: center; }
      .busoverview .data-tb .row .col {
        padding: 0; }
        .busoverview .data-tb .row .col:first-child {
          background: rgba(255, 255, 255, 0.5); }
        .busoverview .data-tb .row .col:last-child {
          background: rgba(255, 255, 255, 0.7); }
  .busoverview .engine {
    background-color: #99d6ff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#99d6ff), to(#f3faff));
    background-image: -webkit-linear-gradient(top, #99d6ff, #f3faff);
    background-image: -moz-linear-gradient(top, #99d6ff, #f3faff);
    background-image: -ms-linear-gradient(top, #99d6ff, #f3faff);
    background-image: -o-linear-gradient(top, #99d6ff, #f3faff);
    background-image: linear-gradient(top, #99d6ff, #f3faff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#99d6ff', endColorStr='#f3faff');
    -webkit-border-top-left-radius: 13px;
    -webkit-border-top-right-radius: 13px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-topleft: 13px;
    -moz-border-radius-topright: 13px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: 2px solid #eaf0f5;
    margin: 9px 0 0;
    /* padding-bottom: 13px; */
    overflow: hidden; }
    .busoverview .engine h1 {
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      margin: 18px 0 9px; }
    .busoverview .engine .row {
      padding: 0; }
      .busoverview .engine .row .col {
        padding: 0; }
    .busoverview .engine > .row {
      padding-left: 14px;
      padding-right: 14px;
      margin-bottom: 13px; }
    .busoverview .engine .engine-pic {
      display: block;
      margin: 8px auto; }
    .busoverview .engine .data-tb .col {
      height: 36px;
      line-height: 36px; }
    .busoverview .engine .data-tb.d2 .col {
      padding-top: 18px;
      height: 55px;
      line-height: 15px; }
  .busoverview .data-tb.grey {
    background: #eee;
    /* margin-top: -5px; */ }
    .busoverview .data-tb.grey .row {
      padding: 0px; }
      .busoverview .data-tb.grey .row + .row {
        margin-top: 0; }
      .busoverview .data-tb.grey .row .col {
        height: 46px;
        line-height: 46px; }
        .busoverview .data-tb.grey .row .col:first-child {
          background: #f5f5f5; }
        .busoverview .data-tb.grey .row .col:last-child {
          background: #FAFAFA; }

/* Payment */
.payment, .payment-confirm {
  font-size: 13px;
  background: #f2f2f2; }
  .payment .ico-title label, .payment-confirm .ico-title label {
    float: left; }
  .payment .ico-title h2, .payment-confirm .ico-title h2 {
    margin: 0 0 0 40px;
    font-size: 13px;
    font-weight: bold;
    height: 24px;
    line-height: 24px; }

.payment img.wechat-pay {
  /* width: 99px; */
  /* height: 99px; */
  width: 70px;
  height: 70px; }

.payment img.alipay {
  /* width: 190px; */
  /* height: 99px; */
  width: 133px;
  height: 70px; }

.payment .beacon-section {
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e3e3e3));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e3e3e3);
  background-image: -moz-linear-gradient(top, #f7f7f7, #e3e3e3);
  background-image: -ms-linear-gradient(top, #f7f7f7, #e3e3e3);
  background-image: -o-linear-gradient(top, #f7f7f7, #e3e3e3);
  background-image: linear-gradient(top, #f7f7f7, #e3e3e3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f7f7f7', endColorStr='#e3e3e3'); }
  .payment .beacon-section h1 {
    font-size: 18px;
    font-weight: bold;
    margin: 35px 0 0 30px; }
  .payment .beacon-section .beacon-container {
    position: relative;
    width: 107px;
    height: 78px;
    background: rgba(255, 255, 255, 0.7);
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    margin: 10px 0px 10px 21px;
    font-size: 12px;
    overflow: hidden;
    text-align: center; }
    .payment .beacon-section .beacon-container img {
      width: 45px;
      height: 47px;
      display: block;
      margin: 7px auto 2px; }
  .payment .beacon-section .ico-title {
    margin: 18px 0 4px 9px; }
  .payment .beacon-section .item-select {
    margin-left: 10px;
    display: inline-block;
    width: 180px; }

.payment .payment-method .ico-title {
  margin-left: 14px;
  margin-top: 37px;
  margin-bottom: 18px; }

.payment .payment-method .pay-container {
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f0f0f0));
  background-image: -webkit-linear-gradient(top, #fff, #f0f0f0);
  background-image: -moz-linear-gradient(top, #fff, #f0f0f0);
  background-image: -ms-linear-gradient(top, #fff, #f0f0f0);
  background-image: -o-linear-gradient(top, #fff, #f0f0f0);
  background-image: linear-gradient(top, #fff, #f0f0f0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fff', endColorStr='#f0f0f0');
  position: relative;
  overflow: hidden; }
  .payment .payment-method .pay-container img {
    display: block;
    margin: 21px auto; }

.payment .payment-method .desc {
  background: #fff;
  height: 28px;
  line-height: 28px;
  text-align: center; }

.payment .payment-method a {
  text-decoration: none;
  color: #000; }

.payment-confirm .ico-title {
  margin: 19px 0 19px 15px; }

.payment-confirm .pay-method {
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f0f0f0));
  background-image: -webkit-linear-gradient(top, #fff, #f0f0f0);
  background-image: -moz-linear-gradient(top, #fff, #f0f0f0);
  background-image: -ms-linear-gradient(top, #fff, #f0f0f0);
  background-image: -o-linear-gradient(top, #fff, #f0f0f0);
  background-image: linear-gradient(top, #fff, #f0f0f0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fff', endColorStr='#f0f0f0'); }
  .payment-confirm .pay-method img {
    height: 52px;
    margin: 6px 0 6px 10px; }

.payment-confirm .bill {
  background: #fff;
  padding: 0 21px;
  overflow: hidden; }
  .payment-confirm .bill h2 {
    font-size: 13px;
    font-weight: bold;
    margin: 33px 0 9px; }
  .payment-confirm .bill ul.purchase li, .payment-confirm .bill .total {
    height: 28px;
    line-height: 28px; }
    .payment-confirm .bill ul.purchase li span, .payment-confirm .bill .total span {
      margin-left: 2px; }
    .payment-confirm .bill ul.purchase li span:last-child, .payment-confirm .bill .total span:last-child {
      float: right;
      margin-right: 2px; }
  .payment-confirm .bill .purchase {
    border-bottom: 1px solid #000; }
  .payment-confirm .bill .total {
    margin: 2px 0 20px;
    font-weight: bold; }

.payment-confirm .btns {
  padding: 40px 39px 0; }

.tickets .item .icon {
  font-size: 22px; }
  .tickets .item .icon:first-child {
    color: #34cd34; }

/* common */
.pull-right {
  float: right; }

.pull-left {
  float: left; }

.round-ico {
  width: 24px;
  height: 24px;
  -webkit-border-radius: 24px;
  -khtml-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  border-radius: 24px;
  display: inline-block;
  height: 24px;
  line-height: 24px;
  color: #fff;
  font-size: 12px;
  padding-left: 8px; }
